<template>
  <b-container fluid>
    <b-row >
      <b-col col md="4"><img src="" class="img-fluid"></b-col>
      <b-col col md="8">
        <div class="px-5 py-2">
          <h1 class="text-white">Blog Manager</h1>
        </div>
      </b-col>
    </b-row >
  </b-container>
</template>

<script>
export default {

}
</script>

<style>

</style>