<template>
  
    <b-list-group>
       <b-link to="/blog/">
            <b-list-group-item class="action">
              <span>List</span>
            </b-list-group-item>
            </b-link>
             <b-link to="/blog/new">
            <b-list-group-item  class="action">
              <span>New</span>
            </b-list-group-item>  </b-link>
             <b-link to="/blog/search">
            <b-list-group-item  class="action">
              <span>Search</span>
            </b-list-group-item>  </b-link>
           
          </b-list-group>
  </template>
  
  <style scoped>
  .list-group-item {
    border: 0px;
    
  }
  
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  a {
    color: #151618;
    text-decoration: unset;
  }
  /* menu */
  .menu {
      background-color: white;
  
  }
  
  .menu .list-group {
      background-color: white;
      border-radius: 0;
      text-align: left;
      padding-bottom: 500px;
      height: 1000px;
  }
  
  .menu .list-group a {
      padding: 15px 30px;
  }
  
  .menu .list-group .list-group-item {
      background-color: white;
      color: black;
  }
  
  .menu .list-group .action:hover {
      background-color: #212324;
  }
  </style>
  
  