<template>
  <b-card>
    <div>Search Blog</div>
    <b-card-body>
      <label>Title:</label>
      <b-form-input id="search" v-model="searchString"></b-form-input>
    </b-card-body>
    <div class="bt-search">
      <b-button @click="submit" type="submit" variant="outline-success"
        >Search</b-button
      >
    </div>
  </b-card>
</template>

<script>
export default {
  name: "SearchForm",
  data() {
    return {
      query: "",
    };
  },

  /**
   * searchBlog
   * @params query
   * @returns array
   */
  methods: {
    SearchBlog() {
      //pass this.query to send the search keyword to the parent component
      this.$emit("searchBlog", this.query);
    },
  },
};
</script>
<style>
.search {
  float: right;
  width: 1100px;
}
.bt-search {
  text-align: center;

  padding-bottom: 15px;
}
</style>
