<template>
  <b-col col md="10" class="p-3 menu">
    <slot></slot>

    <b-card>
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(submit)">
          <ValidationProvider
            name="Title"
            :rules="{ required: true, min: 6 }"
            v-slot="validationContext"
          >
            <b-form-group label="Tieu de">
              <b-form-input
                v-model="blog.title"
                :state="getValidationState(validationContext)"
              >
              </b-form-input>
              <b-form-invalid-feedback
                >{{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>
          <ValidationProvider
            name="des"
            :rules="{ required: true, min: 6 }"
            v-slot="validationContext"
          >
            <b-form-group label="Tieu de">
              <b-textarea
                rows="5"
                class="form-control"
                v-model="blog.des"
                :state="getValidationState(validationContext)"
                type="text"
              ></b-textarea>
              <b-form-invalid-feedback
                >{{ validationContext.errors[0] }}
              </b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>
          <div>
            <label>Tieu de :</label>
            <b-textarea
              rows="10"
              class="form-control"
              v-model="blog.detail"
              type="text"
            ></b-textarea>
          </div>
          <div class="form-group">
            <p>Hinh anh :</p>
            <input type="file" />
          </div>
          <b-form-group class="mt-2">
            <ValidationProvider
              name="position"
              :rules="{ required: true }"
              v-slot="validationContext"
            >
              <div><label>Vi tri :</label></div>
              <div
                class="form-check form-check-inline"
                v-for="address in Place"
                :key="address.id"
              >
                <b-form-checkbox
                  type="checkbox"
                  :value="address.id"
                  :state="getValidationState(validationContext)"
                  v-model="blog.position"
                />
                <label class="form-check-label">{{ address.name }}</label>
              </div>
              <b-form-invalid-feedback>{{
                validationContext.errors[0]
              }}</b-form-invalid-feedback>
            </ValidationProvider>
          </b-form-group>
          <ValidationProvider
            name="Public"
            :rules="{ required: true }"
            v-slot="validationContext"
          >
            <b-form-group>
              <div><label class="">Tieu de : </label></div>
              <div class="form-check form-check-inline">
                <b-form-radio
                  name="public"
                  type="radio"
                  id="inlineRadio1"
                  value="1"
                  :state="getValidationState(validationContext)"
                  v-model="blog.public"
                />
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <b-form-radio
                  name="public"
                  type="radio"
                  id="inlineRadio2"
                  value="0"
                  :state="getValidationState(validationContext)"
                  v-model="blog.public"
                />
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
              <b-form-invalid-feedback>{{
                validationContext.errors[0]
              }}</b-form-invalid-feedback>
            </b-form-group>
          </ValidationProvider>
          <b-form-group label="Loai">
            <b-row>
              <b-col col md="6">
                <ValidationProvider
                  name="Category"
                  :rules="{ required: true }"
                  v-slot="validationContext"
                >
                  <b-form-select
                    class="form-select"
                    aria-label="Default select example"
                    v-model="blog.category"
                  >
                    <b-form-select-option
                      v-for="cate in Category"
                      :key="cate.id"
                      :value="cate.id"
                      :state="getValidationState(validationContext)"
                    >
                      {{ cate.name }}
                    </b-form-select-option>
                    <b-form-invalid-feedback>{{
                      validationContext.errors[0]
                    }}</b-form-invalid-feedback>
                  </b-form-select>
                </ValidationProvider>
              </b-col>
              <b-col col md="6">
                <ValidationProvider
                  name="Data_pubblic"
                  :rules="{ required: true }"
                  v-slot="validationContext"
                >
                  <b-form-input
                    class="form-control"
                    v-model="blog.data_pubblic"
                    type="date"
                    :state="getValidationState(validationContext)"
                  />
                  <b-form-invalid-feedback>{{
                    validationContext.errors[0]
                  }}</b-form-invalid-feedback>
                </ValidationProvider>
              </b-col>
            </b-row>
            <div class="d-flex justify-content-center m-3">
              <b-button variant="success" class="mr-3" type="submit"
                >Submit</b-button
              >
              <b-button type="button" class="ml-3">Clear</b-button>
            </div>
          </b-form-group>
        </b-form>
      </ValidationObserver>
    </b-card>
  </b-col>
</template>

<script>
import Category from "../../store/Category";
import Place from "../../store/Place";

export default {
  props: {
    blog: {},
    error: Array,
    isInsert: "",
  },

  data() {
    return {
      Category: Category,
      Place: Place,
    };
  },

  methods: {
    /**
     * Get list Position
     * @returns array
     */

    submit() {
      if (this.isInsert) {
        this.$emit("insert", this.blog);
      } else {
        this.$emit("update", this.blog);
      }
    },
    /**
     * check validate
     */
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
  },
};
</script>

<style scope>
.vali {
  color: red;
}
</style>
