<template>
  <b-col col md="10" class="p-3 menu">
    <b-card>
      <h3>List Blog</h3>

      <b-table
        bordered
        :items="this.blogs"
        :fields="fields"
        class="text-center"
        show-empty
      >
        <template #cell(edit)="row">
          <b-button
            size="md"
            :to="{ path: '/blog/_id', query: { id: row.item.id } }"
            variant="outline-primary"
          >
            Edit
          </b-button>
        </template>
        <template #cell(delete)="row">
          <b-button
            size="md"
            @click="deleteBlog(row.item.id)"
            variant="outline-danger"
          >
            Delete
          </b-button>
        </template>
      </b-table>
     
    </b-card>
  </b-col>
</template>

<script>
import baseUrl from "../../base.js";
import Category from "../../store/Category.js";
import Place from "../../store/Place.js";
import axios from "axios";
export default {
  props: {
    blogs: {},
  },
  data() {
    return {
      items: this.blogs,
      fields: [
        { key: "id", label: "ID", class: " width-50" },
        { key: "title", label: "Tin" },
        {
          key: "category",
          label: "Loại",
          formatter: (value) => {
            return this.getCategory(value);
          },
        },
        {
          key: "is_published",
          label: "Trạng thái",
          formatter: (value) => {
            return value ? "Yes" : "No";
          },
        },
        {
          key: "position",
          label: "Vị trí",
          formatter: (value) => {
            return this.getPlace(value);
          },
        },
        { key: "data_pubblic", label: "Ngày public" },
        { key: "edit", label: "Edit", class: "width-50" },
        { key: "delete", label: "Delete", class: "width-50" },
      ],
    };
  },
  methods: {
    /**
     * get name category
     * @param id
     * @returns string
     * */
    getCategory(id) {
      const name = Category.find((data) => data.id == id);
      return name ? name.name : "";
    },

    /**
     * get name position
     * @param arrayId
     * @returns string
     */
    getPlace(arrayId) {
      const names = Place.filter((datum) => arrayId.includes(datum.id))
        .map((datum) => datum.name)
        .join(", ");
      return names;
    },

    /**
     * delete blog by id
     * @param id
     * @returns void
     */
    deleteBlog(itemId) {
      axios
        .delete(baseUrl + `/${itemId}`)
        .then((res) => {
          this.route.push("/blog/");
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
