<template>
  <BlogCreatEdit
    :blog="blog"
    :error="error"
    @update="updateBlog"
    :isInsert="kiemTraId()"
    ><h5>Updatde</h5></BlogCreatEdit
  >
</template>

<script>
import axios from "axios";
import baseUrl from "../../base.js";
export default {
  data() {
    return {
      blog: {
        title: "",
        des: "",
        public: "",
        category: "",
        data_pubblic: "",
        position: [],
        detail: "",
      },
      error: [],
    };
  },

  methods: {
    kiemTraId() {},
    /**
     * Get Blog $id
     * @params id
     * @returns array
     */
    getBlog(id) {
      axios.get(baseUrl + `/${id}`).then((res) => {
        console.log(res.data);
        this.blog = res.data.data;
      });
    },
    /**
     * Upadate Blog
     * @returns array
     */
    updateBlog() {
      axios.put(baseUrl + `/${this.$route.query.id}`, this.blog).then((res) => {
        this.$router.push("/blog/");
      });
    },
  },

  created() {
    this.getBlog(this.$route.query.id);
  },
};
</script>

<style>
.vali {
  color: red;
}
</style>
