<template>
  <BlogList :blogs="blogs.data" />
</template>

<script>
import baseUrl from "../../base.js";
import axios from "axios";

export default {
  data() {
    return {
      blogs: {},
    };
  },
  created() {
    this.listBlog();
  },
  methods: {
    listBlog() {
      axios.get(baseUrl).then((res) => {
        this.blogs = res.data;
      });
    },
  },
};
</script>

<style></style>
