<template>
  <BlogCreatEdit :blog="this.blog" @insert="InsertBlog" :isInsert="kiemTraId" />
</template>
<script>
import kiemTraId from "../../Mixins/kiemTraId";
import axios from "axios";
import baseUrl from "../../base.js";
export default {
  data() {
    return {
      blog: {
        title: "",
        des: "",
        public: "",
        category: "",
        data_pubblic: "",
        position: [],
        detail: "",
      },
    };
  },
  mixins: [kiemTraId],
  methods: {
    /**
     * AdddBlog
     * @returns array
     */
    InsertBlog() {
      axios.post(baseUrl, this.blog).then((res) => {
        this.$router.push("/blog/");
      });
    },
  },
};
</script>

<style></style>
