<template>
  <b-col col md="10" class="p-3 menu">
    <BlogSearchForm @searchBlog="searchBlog" />
    <b-col col md="12">
      <BlogList :blogs="blogs.data" />
    </b-col>
  </b-col>
</template>

<script>
import baseUrl from "../../base.js";
import axios from "axios";

export default {
  data() {
    return {
      blogs: [],
      query: "",
    };
  },
  created() {
    // Reuse searchBlog
    this.searchBlog();
  },
  methods: {
    /**
     * searchBlog
     * @params query
     * @returns array
     */
    searchBlog(query = "") {
      axios
        .get(baseUrl + `/?param=${query}`)
        .then((res) => (this.blogs = res.data))
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style></style>
