<template>
  <div class="content">
    <b-container fluid class="navbar-menu">
      <div class="header-navbar">
        <AppHeader />
      </div>
    </b-container>
    <b-row>
      <b-col col md="2" class="menu"><AppMenu /></b-col>
      <Nuxt></Nuxt>
    </b-row>
  </div>
</template>

<script>
export default {};
</script>

<style>
.content {
  min-height: 100vh;
  width: 100%;
}
.navbar-menu {
  max-height: 100px;
  height: 9vh;
  background-color: black;
}
.main {
  min-height: 80vh;
}
.background-content {
  background-color: #9b9999;
}
.main {
  min-height: 80vh;
}
.menu {
  background-color: rgb(239, 239, 239);
}
.background-content {
  background-color: #9b9999;
}
.search {
  float: right;
  width: 1100px;
}
.bt-search {
  text-align: center;

  padding-bottom: 15px;
}
</style>
